<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/gamePage.css">
<title>Game</title>
</head>
<body>
<div id="content">
  
  <div id="ui">
    <!--Name select menu-->
    <div id="loading" v-if="uiData.menu === 1">
      <div>Loading...</div>
      <div></div>
    </div>
    <div id="name-select" v-if="uiData.menu === 2">
      <label for="name-select">Enter a name</label><input v-model="uiData.playerName" type="text" maxlength="10">
      <button type="submit" v-on:click="submitName">Submit</button>
    </div>
    <!--Main menu-->
    <div id="mainMenu" v-if="uiData.menu === 3">
      <h1>Select Mode</h1>
      <button type="submit" v-on:click="goTo1v1()">1v1</button>
      <button type="submit" v-on:click="goToArena()">Arena (Bots only)</button>
      <button type="submit" disabled title="Coming soon!">Arena (Online Multiplayer)</button>
      <button v-on:click="goToControls(1)">Keyboard Controls (Player 1)</button>
      <button v-on:click="goToControls(2)">Keyboard Controls (Player 2)</button>
      <!--<button v-on:click="">Options</button>-->
    </div>
    <!--1v1 menu-->
    <div id="mainMenu" v-if="uiData.menu === 4">
      <h1>1v1 Setup</h1>
      <div>
        <div>Player 1</div>
        <label>CPU?</label><input v-model="uiData.isPlayer1CPU" type="checkbox" />
        <div>Player 2</div>
        <label>CPU?</label><input v-model="uiData.isPlayer2CPU" type="checkbox" />
        <label>Map</label>
        <select v-model="uiData.selectedBrawlMap">
          <option v-for="map in uiData.brawlMaps" v-bind:value="map">{{ map }}</option>
        </select>
      </div>
      <button type="submit" :disabled="!isBrawlReady()" v-on:click="goToBattle(uiData.selectedBrawlMap)">Battle!</button>
      <button v-on:click="goToMainMenu()">Back</button>
    </div>
    <!--arena menu-->
    <div id="mainMenu" v-if="uiData.menu === 5">
      <h1>Arena Map Select</h1>
      <label>Select Map</label>
      <select v-model="uiData.selectedArenaMap">
        <option v-for="map in uiData.arenaMaps" v-bind:value="map">{{ map }}</option>
      </select>

      <label>Game Mode</label>
      <select v-model="uiData.selectedGameMode">
          <option v-for="mode in uiData.gameModes" v-bind:value="mode">{{ mode }}</option>
      </select>

      <label>Max Players</label><input v-model:number="uiData.maxPlayers" type="number">
      <label>Number of Bots</label><input v-model:number="uiData.numBots" type="number">
      <label>Play to:</label><input v-model:number="uiData.playTo" type="number">
      <button type="submit" :disabled="!isArenaReady()" v-on:click="goToBattle(uiData.selectedArenaMap)">Battle!</button>
      <button v-on:click="goToMainMenu()">Back</button>
    </div>
    <!--Control config-->
    <div id="controlMenu" v-if="uiData.menu === 6">
      <h1>Player {{ uiData.whoseControls }} Controls</h1>
      <label>Up</label><input id="c1" type="text" v-bind:value="getBind('up',uiData.whoseControls)" v-on:keydown="setBind($event,'up',uiData.whoseControls, 'c2')" v-on:mousedown="setBind($event,'up',uiData.whoseControls, 'c2')" v-on:wheel="setBind($event,'up',uiData.whoseControls, 'c2')"/><br>
      <label>Down</label><input id="c2" type="text" v-bind:value="getBind('down',uiData.whoseControls)" v-on:keydown="setBind($event,'down',uiData.whoseControls, 'c3')" v-on:mousedown="setBind($event,'down',uiData.whoseControls, 'c3')" v-on:wheel="setBind($event,'down',uiData.whoseControls, 'c3')"/><br>
      <label>Left</label><input id="c3" type="text" v-bind:value="getBind('left',uiData.whoseControls)" v-on:keydown="setBind($event,'left',uiData.whoseControls, 'c4')" v-on:mousedown="setBind($event,'left',uiData.whoseControls, 'c4')" v-on:wheel="setBind($event,'left',uiData.whoseControls, 'c4')"/><br>
      <label>Right</label><input id="c4" type="text" v-bind:value="getBind('right',uiData.whoseControls)" v-on:keydown="setBind($event,'right',uiData.whoseControls, 'c5')" v-on:mousedown="setBind($event,'right',uiData.whoseControls, 'c5')" v-on:wheel="setBind($event,'right',uiData.whoseControls, 'c5')"/><br>
      <label>Shoot</label><input id="c5" type="text" v-bind:value="getBind('shoot',uiData.whoseControls)" v-on:keydown="setBind($event,'shoot',uiData.whoseControls, 'c6')" v-on:mousedown="setBind($event,'shoot',uiData.whoseControls, 'c6')" v-on:wheel="setBind($event,'shoot',uiData.whoseControls, 'c6')"/><br>
      <label>Jump</label><input id="c6" type="text" v-bind:value="getBind('jump',uiData.whoseControls)" v-on:keydown="setBind($event,'jump',uiData.whoseControls, 'c7')" v-on:mousedown="setBind($event,'jump',uiData.whoseControls, 'c7')" v-on:wheel="setBind($event,'jump',uiData.whoseControls, 'c7')"/><br>
      <label>Dash</label><input id="c7" type="text" v-bind:value="getBind('dash',uiData.whoseControls)" v-on:keydown="setBind($event,'dash',uiData.whoseControls, 'c8')" v-on:mousedown="setBind($event,'dash',uiData.whoseControls, 'c8')" v-on:wheel="setBind($event,'dash',uiData.whoseControls, 'c8')"/><br>
      <label>Weapon Left</label><input id="c8" type="text" v-bind:value="getBind('weaponleft',uiData.whoseControls)" v-on:keydown="setBind($event,'weaponleft',uiData.whoseControls, 'c9')" v-on:mousedown="setBind($event,'weaponleft',uiData.whoseControls, 'c9')" v-on:wheel="setBind($event,'weaponleft',uiData.whoseControls, 'c9')"/><br>
      <label>Weapon Right</label><input id="c9" type="text" v-bind:value="getBind('weaponright',uiData.whoseControls)" v-on:keydown="setBind($event,'weaponright',uiData.whoseControls, 'c10')" v-on:mousedown="setBind($event,'weaponright',uiData.whoseControls, 'c10')" v-on:wheel="setBind($event,'weaponright',uiData.whoseControls, 'c10')"/><br>
      <label>Check Score</label><input id="c10" type="text" v-bind:value="getBind('scoreboard',uiData.whoseControls)" v-on:keydown="setBind($event,'scoreboard',uiData.whoseControls, 'c-submit')" v-on:mousedown="seind($event,'scoreboard',uiData.whoseControls, 'c-submit')" v-on:wheel="seind($event,'scoreboard',uiData.whoseControls, 'c-submit')"/><br>
      <button id="c-submit" type="submit" v-on:click="saveControls(uiData.whoseControls)" :disabled="!canSaveControls()">Save</button>
      <button v-on:click="goToMainMenu()">Back</button>
    </div>
    <!--Confirm exit menu-->
    <div id="exitMenu" v-if="uiData.menu === 7">
      <h1>Really exit?</h1>
      <button v-on:click="confirmExit(true)">Yes</button>
      <button v-on:click="confirmExit(false)">No</button>
    </div>
  </div>
  <canvas id="canvas" tabindex="0" width="320" height="240" style="display:none"></canvas>

  <div id="options" style="display:none">
    <button v-on:click="exitGame()">Exit game</button>
    <div id="dev-options" style="display:none">
      <input type="checkbox" v-model="options.showHitboxes" @change="onChange()">Show hitboxes? 
      <input type="checkbox" v-model="options.playMusic" @change="onChange()">Play Music?<br>
      <input type="checkbox" v-model="options.alwaysFlinch" @change="onChange()">Always flinch? <br>
      <input type="checkbox" v-model="options.invulnFrames" @change="onChange()">Invuln frames? <br>
      <input type="checkbox" v-model="options.antiAlias" @change="onChange()">Anti Alias? <br>
    </div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.1/lodash.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="node_modules/howler/dist/howler.min.js"></script>
<script src="node_modules/systemjs/dist/system.js"></script>
<script src="main.js"></script>
<script>
  SystemJS.import("game").then(function(game) {
    game.game.start();
  });
</script>

</body>
</html>