body {
  background-color: lightgray;
}

#content {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'mmx_font';
  src: url('fonts/Mega Man X.ttf');
}

#ui {
  position: absolute;
}

#canvas {
  cursor: none;
}